
@{
    ViewBag.Title = "Captura Movimiento";
}

<h2>Capturar Movimiento</h2>
<table class="table table-striped">
    <tr>
        <td>
            Numero de empleado
        </td>
        <td>
            <input id="numeroEmpleado" class="form-control" />
        </td>
    </tr>
</table>

